body {
	height: 100%;
	margin: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	}
 * {
	margin: 0;
	padding: 0;
	}

ul {
	padding:0;
	margin:0;
	list-style-type:none;
	}
	
.container {
	display: flex;
	}

header {
	background-color:#0c2461;
	padding-top: 50px;
	padding-bottom: 50px;
	}
h1{
	color: white;
	text-align: center;
	}

#nav{
	padding: 30px;
	background-color: #f6b93b;
	width: 30%;
	min-width: 200px;
	}

#nav ul {
	text-align: center;
	border: solid 1px red;
	}
	
#nav ul li {
	border: solid 1px black;
	}
	
#main {
	width: 100%;
	}
	
#main h2 {
	text-align: center;
	padding: 30px;
	}
	
footer {
	background-color:#0c2461;

	}
	
footer h2 {
	position:absolute;
	bottom:0;
	width:100%;
	text-align: center;
	color: white;
	border: solid 1px red;
	}
		
footer ul {

	text-align: center;
	width: 100%;
	
}

footer ul li{
	diplay: inline-block;
}

	
	


