body {
	height: 100%;
	margin: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	}
 * {
	margin: 0;
	padding: 0;
	}

ul {
	padding:0;
	margin:0;
	list-style-type:none;
	}
	
.container {
	display: flex;
	}

header {
	background-color:#0c2461;
	padding-top: 50px;
	padding-bottom: 50px;
	}
h1{
	color: white;
	text-align: center;
	}

#nav{
	text-align: center;
	background-color: #f6b93b;
	width: 25%;
	min-width: 200px;
	}

#nav a{
	display: block;
	border: solid 1px red;
	height: 25%;
	}

#nav ul {
	border: solid 1px red;
	height: 100%;
	}
	
#nav ul li {
	border: solid 1px black;
	height: 25%;
	
	text-align: center;
	}
	
#main {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;


	}
	
#main h2 {
	text-align: center;
	padding: 30px;
	}
	
footer {
	background-color:#0c2461;
	position: fixed;
	bottom:0;
	width:100%;
	}
	
footer h2 {
	color: white;
	
	margin: auto 0;
	border: solid 1px yellow;
	}
		
footer ul {
		
	border: solid 1px green;

}

footer ul li{
	display: inline;
	border: solid 1px red;
	float: right;
	margin-left: auto;
}

	
	


